@using JMLWeb.ViewModels

@{
    ViewBag.Title = "Home Page";
}

@model ProductViewModel
<div class="row">
    <div class="col-md-4">
        <h2>@Model.Product.Name</h2>
        <p>
            @Model.Product.Price.ToString("C")
        </p>
    </div>
    
</div>