@using JMLWeb.ViewModels
@using JMLWeb.Business.Product;

@{
    ViewBag.Title = "Home Page";
}

@model ProductsViewModel
<div class="row">
    @foreach (Product p in Model.Products)
    {
        <div class="col-md-4">
            <h2>@p.Name</h2>
            <p>
                @p.Price.ToString("C")
            </p>
        </div>
    }
</div>